@model Hotel
@{
}

<div class="container">
    <div class="alert alert-success"> Update the data </div>
        <form asp-controller="Home" asp-action="Update" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="row">
                <div class="col">
                    <label for="Name" class="p-2">Hotel name </label>
                    <input type="text" id="Name" name="Name" class="form-control form-control-sm" asp-for="@Model.Name" />
                    <span class="text-danger" asp-validation-for="Name"></span> <!-- Because hotel in model not in inumerable-->

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="Address" class="p-2"> Hotel Address </label>
                    <input type="text" id="Address" name="Address" class="form-control form-control-sm" asp-for="@Model.Address" />
                    <span asp-validation-for="Address"></span> <!-- Because hotel in model not in inumerable-->

                </div>
                <div class="col-sm-6">
                    <label for="City" class="p-2">  City</label>
                    <input type="text" id="City" name="City" class="form-control form-control-sm" asp-for="@Model.City" />
                    <span class="text-danger" asp-validation-for="City"></span> <!-- Because hotel in model not in inumerable-->

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="Email" class="p-2">Email </label>
                <input class="text-danger"type="email" id="Email" name="Email" class="form-control form-control-sm" asp-for="@Model.Email" />


                </div>
                <div class="col-sm-6">
                    <label for="Phone" class="p-2"> Phone </label>
                    <input type="tel" id="Phone" name="Phone" class="form-control form-control-sm" asp-for="@Model.Phone" />


                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Images" class="p-2"> Image </label>
                    <input type="text" id="Images" name="Images" class="form-control form-control-sm" asp-for="@Model.Images" />
                </div>

            </div>

            <div class="row mt-3">
                <div class="col text-center">

                    <button class="btn btn-success" type="submit">Save</button>


                </div>

            </div>
        </form>
    
</div>


